<div class="panel panel-default">
    <div class="panel-heading">Create a New Server</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="serverAddr">Server Addr</label>
            <input type="text" class="form-control" ng-model="newServerAddr" id="serverAddr">
        </div>
        <div class="form-group">
            <label for="serverCheckPath">Server Check URL</label>
            <input type="text" class="form-control" ng-model="newServerCheckPath" id="serverCheckPath" placeholder="e.g. /check">
        </div>
        <div class="form-group">
            <label for="serverCheckResponsedBody">Server Check URL Responsed Body</label>
            <input type="text" class="form-control" ng-model="newServerCheckResponsedBody" id="serverCheckResponsedBody" placeholder="if not set, only check response status is 200.">
        </div>
        <div class="form-group">
            <label for="serverCheckTimeout">Server Check Timeout</label>
            <input type="number" class="form-control" ng-model="newServerCheckTimeout" id="serverCheckTimeout" placeholder="unit is second"/>
        </div>
        <div class="form-group">
            <label for="serverCheckDuration">Server Check Duration</label>
            <input type="number" class="form-control" ng-model="newServerCheckDuration" id="serverCheckDuration" placeholder="unit is second"/>
        </div>

        <div class="form-group">
            <label for="serverMaxQPS">Server Max QPS</label>
            <input type="number" class="form-control" ng-model="newServerMaxQPS" id="serverMaxQPS" placeholder="max qps, reject when over"/>
        </div>

        <div class="form-group">
            <label for="serverHalfToOpen">Server Half To Open Seconds</label>
            <input type="number" class="form-control" ng-model="newServerHalfToOpen" id="serverHalfToOpen" value="300" placeholder="wait seconds, half to open, default 300 sec"/>
        </div>

        <div class="form-group">
            <label for="serverHalfTrafficRate">Server Half Traffic Rate</label>
            <input type="number" class="form-control" ng-model="newHalfTrafficRate" id="serverHalfTrafficRate" placeholder="Server Half Traffic Rate"/>
        </div>

        <div class="form-group">
            <label for="serverToCloseCount">Server To Close Count</label>
            <input type="number" class="form-control" ng-model="newServerToCloseCount" id="serverToCloseCount" placeholder="how continue failure request, when server to circuit breaken"/>
        </div>

        <button type="button" class="btn btn-default" ng-click="add()">Submit</button>
    </div>
</div>