<div class="panel panel-default">
	<div class="panel-heading">Cluster Info</div>
	<div class="panel-body">
		<div class="form-group">
			<label>
                <strong>Cluster Name:</strong>
                {{cluster.name}}
            </label>
		</div>

		<div class="form-group">
			<label for="clusterLBName">Cluster Load Balance</label>
			<select class="form-control" ng-model="cluster.lbName" id="clusterLBName">
                <option ng-repeat="lb in lbs" ng-selected="cluster.lbName" value="{{lb}}">{{lb}}</option>
            </select>
		</div>

		<button type="button" class="btn btn-default" ng-click="update()">Update</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Bined Servers</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="server in cluster.bindServers">
						<td>
							<a href="#/servers/{{server}}">{{server}}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>