<div class="panel panel-default">
    <div class="panel-heading">Create a New Cluster</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="clusterName">Cluster Name</label>
            <input type="text" class="form-control" ng-model="newClusterName" id="clusterName" placeholder="Cluster Name">
        </div>
        <div class="form-group">
            <label for="clusterPattern">Cluster URL Pattern</label>
            <input type="text" class="form-control" ng-model="newClusterPattern" id="clusterPattern" placeholder="Cluster URL Pattern">
        </div>
        <div class="form-group">
            <label for="clusterLBName">Cluster Load Balance</label>
            <select class="form-control" ng-model="newClusterLBName" id="clusterLBName">
                <option ng-repeat="lb in lbs" value="{{lb}}">{{lb}}</option>
            </select>
        </div>
        <button type="button" class="btn btn-default" ng-click="add()">Submit</button>
    </div>
</div>