<h1 class="page-header">Routings</h1>

<div>
    <form style="margin-bottom: 3px;" class="form-inline">
        <button type="button" class="btn btn-success btn-sm" ng-click="create()">
            Create
        </button>
       
        <label for="search">Search:</label>
        <input type="text" class="form-control" ng-model="q" id="search" />
    </form>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Cluster</th>
            <th>URL</th>
            <th>Cfg</th>
            <th>Opts</th>
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="routing in routings | filter: q">
                <td><a href="#/clusters/{{routing.clusterName}}">{{routing.clusterName}}</a></td>
                 <td>
                    {{routing.url}}
                </td>
                <td>
                    {{routing.cfg}}
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" ng-click="delete(routing.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>